body {
    margin: 0;
    padding: 20px;
    background-color: lightgray;
}

/* ---------- Header ---------- */

h1 {
    font-size: 40px;
}

nav {
    text-align: center;
    margin: 30px 0; 
}

a:link, a:visited {
    color: unset;
}

nav a {
    padding: 10px 20px;
    margin: 0 30px;
    background-color: rgb(150, 175, 255);
    border-radius: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: orange;
}

/* ---------- Main ---------- */

section {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

section h3 {
    text-align: center;
    font-weight: 1000;
    font-size: 20px;
}

section p {
    font-size: 17px;
}

/* ---------- Footer ---------- */

.social img {
    width: 100px;
}